.edit-dictionary-screen {
    .edit-dictionary.content {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        // background-color: red;
        .input-group {
            box-sizing: border-box;
            // padding-inline: 20px;
            display: flex;
            flex-direction: column;
            label {
                font-size: 1em;
            }
            .form-button {
                // padding-top: 10px;
                margin: 0;
                margin-top: 1em;
                cursor: pointer;
                border-radius: 4px;
                background-color: #f99f38;
                // font-size: 1em;
                color: white;
                // line-height: 0.5em;
                box-sizing: border-box;
                padding: 0;
                border: none;
                height: 3em;
            }
            .form-input {
                padding-inline: 10px;
                width: 100%;
                height: 3em;
                border-radius: 4px;
                border: 1px solid hsl(0, 0%, 80%);
                box-sizing: border-box;
                &:focus {
                    outline-color: #f99f38;
                }
            }
            input {
            }
            .flag-select {
                width: 100%;
                // border-color: red;
                .select-flag-option {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                }
            }
        }
    }
}
