footer {
    // margin: auto;
    flex: 0 0 auto;
    text-align: center;
    color: rgb(83, 83, 83);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    a {
        color: gray;
        color: black;
    }
}
